html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(0, 0, 41);
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('./assets/blackboard-grid.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}